<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ This is part of Geomajas, a GIS framework, http://www.geomajas.org/. 
	~ ~ Copyright 2008-2012 Geosparc nv, http://www.geosparc.com/, Belgium. ~ 
	~ The program is available in open source according to the GNU Affero ~ General 
	Public License. All contributions in this program are covered ~ by the Geomajas 
	Contributors License Agreement. For full licensing ~ details, see LICENSE.txt 
	in the project root. -->
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/java/tomcat9/logs/sqlrestlog.txt</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/home/java/tomcat9/logs/sqlrestlog-%d{yyyy-MM-dd_HH_mm}.%i.log
			</fileNamePattern>
			<maxHistory>10</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />  
	</root>
	<logger name="org.springframework">
		<level value="info" />
	</logger>

	<logger name="org.springframework.jdbc.core">
		<level value="info" />
	</logger>



</configuration>